*{
    padding:0;
    margin: 0;
    text-align: center;
}
h1{
    background-color:#081b31 ;
    color:white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice{
    height:160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
img{
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius:50%;
}
.choice:hover{
    cursor: pointer;
    opacity: 0.5;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2rem;
    gap:3rem
}
#user{
    margin-left: 2rem;
}
#user-score,#comp-score{
    font-size: 3rem;
}
.msg-container{
    margin-top:3rem;
}
.msg{
    background-color: #081b31;
    color:#fff;
    font-size: 1rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}